body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #FFFAF1;
  gap: 60px;
}

.corner-title {
  color: lightblue;
  font-weight: 900;
}

.footer {
  font-size: small;
}

.calc-body {
  background: #433e3f;
  display: flex;
  flex-direction: column;
  min-height: 425px;
  min-width: 340px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 8px 10px 15px 6px #ccc;
}

.calc-display {
  background: #c0b7b1;
  height: 100px;
  border-radius: 6px;
  box-shadow: inset 3px 2px 5px #000;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 30px;
}

.total-input {
  padding: 10px 10px;
  font-size: 15px;
}

.current-input {
  padding: 10px 10px;
}

.calc-buttons {
  padding: 10px 0px;
  width: 100%;
  height: 54%;
  display: inline-grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, 2fr);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  padding: 7px 0px;
  margin: 5px 5px;
  box-shadow: 3px 3px 3px #000;
}

button:active:not([disabled]) {
  font-weight: 900;
  background: #8e6e53;
  box-shadow: 0px 0px 0px #000;
}

button:disabled {
  border: 0px;
}

.numbers {
  color: white;
  background-color: lightblue;
  border: 0px;
}

.hehe {
  background-color: #c0b7b1;
}

.calc-button {
  background-color: white;
  color: lightblue;
  border: 0px;
}

.calc-ac-button {
  background-color: #c669;
  color: white;
  border: 0px;
}